
    <html>
    <head>
        <title>StockWise Daily Analysis - 2025-01-04</title>
        
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
                margin: 20px 0;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
            .stock-link {
                color: #0066cc;
                text-decoration: none;
            }
            .email-container {
                max-width: 1000px;
                margin: 0 auto;
                font-family: Arial, sans-serif;
            }
            .section {
                margin-bottom: 30px;
            }
        </style>
    
    </head>
    <body>
        <div class="email-container">
        <h1>StockWise Daily Analysis - 2025-01-04</h1>
    
                <div class="section">
                    <h2>Top 10 Stocks by Volume Change</h2>
                    <table>
<tr>
<th>Ticker</th>
<th>Close Price</th>
<th>Market Cap ($B)</th>
<th>Volume(M)</th>
<th>Turnover Rate (%)</th>
<th>RSI(6)</th>
<th>Value($M)</th>
<th>Vol Chg(%)</th>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/PSNYW">PSNYW</a></td>
<td>0.29</td>
<td>0.50</td>
<td>15.83</td>
<td>4.14</td>
<td>95.87</td>
<td>4.59</td>
<td>5334.25</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/GETY">GETY</a></td>
<td>2.39</td>
<td>1.60</td>
<td>8.54</td>
<td>6.81</td>
<td>61.90</td>
<td>20.41</td>
<td>2034.08</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/OCS">OCS</a></td>
<td>17.56</td>
<td>0.66</td>
<td>0.16</td>
<td>0.40</td>
<td>80.65</td>
<td>2.80</td>
<td>1594.68</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/UZF">UZF</a></td>
<td>22.67</td>
<td>1.94</td>
<td>0.25</td>
<td>0.00</td>
<td>80.10</td>
<td>5.57</td>
<td>1006.76</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/CNX">CNX</a></td>
<td>33.12</td>
<td>5.36</td>
<td>11.31</td>
<td>8.66</td>
<td>18.85</td>
<td>374.75</td>
<td>939.88</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/DOGZ">DOGZ</a></td>
<td>36.60</td>
<td>0.67</td>
<td>0.39</td>
<td>23.57</td>
<td>34.75</td>
<td>14.34</td>
<td>857.70</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/ASTL">ASTL</a></td>
<td>8.94</td>
<td>1.00</td>
<td>2.56</td>
<td>3.07</td>
<td>19.29</td>
<td>22.89</td>
<td>759.89</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/NUS">NUS</a></td>
<td>7.53</td>
<td>0.30</td>
<td>3.45</td>
<td>7.09</td>
<td>74.58</td>
<td>25.97</td>
<td>609.17</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/JBT">JBT</a></td>
<td>127.62</td>
<td>3.03</td>
<td>3.51</td>
<td>11.18</td>
<td>34.91</td>
<td>447.88</td>
<td>511.20</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/ETO">ETO</a></td>
<td>25.62</td>
<td>0.43</td>
<td>0.09</td>
<td>0.57</td>
<td>50.93</td>
<td>2.41</td>
<td>507.74</td>
</tr>
</table>
                </div>
                
                <div class="section">
                    <h2>Top 10 Stocks Sorted by BP and MCap</h2>
                    <table>
<tr>
<th>Ticker</th>
<th>Close Price</th>
<th>Market Cap ($B)</th>
<th>Volume(M)</th>
<th>Turnover Rate (%)</th>
<th>RSI(6)</th>
<th>BP</th>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/MCD">MCD</a></td>
<td>294.78</td>
<td>225.74</td>
<td>2.24M</td>
<td>0.31</td>
<td>53.53</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/AXP">AXP</a></td>
<td>303.08</td>
<td>191.89</td>
<td>1.98M</td>
<td>0.36</td>
<td>48.64</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/ARM">ARM</a></td>
<td>141.08</td>
<td>158.73</td>
<td>7.19M</td>
<td>5.70</td>
<td>67.76</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/PGR">PGR</a></td>
<td>242.22</td>
<td>145.39</td>
<td>1.46M</td>
<td>0.25</td>
<td>41.85</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/MU">MU</a></td>
<td>89.87</td>
<td>119.54</td>
<td>17.47M</td>
<td>1.58</td>
<td>52.48</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/SHOP">SHOP</a></td>
<td>109.25</td>
<td>105.31</td>
<td>2.96M</td>
<td>0.24</td>
<td>43.13</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/LRCX">LRCX</a></td>
<td>75.11</td>
<td>94.62</td>
<td>8.98M</td>
<td>0.70</td>
<td>62.90</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/MO">MO</a></td>
<td>53.14</td>
<td>85.41</td>
<td>5.60M</td>
<td>0.33</td>
<td>43.27</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/PYPL">PYPL</a></td>
<td>87.60</td>
<td>82.72</td>
<td>6.13M</td>
<td>0.61</td>
<td>43.69</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/PNC">PNC</a></td>
<td>195.63</td>
<td>74.05</td>
<td>1.36M</td>
<td>0.34</td>
<td>58.66</td>
<td>0.00</td>
</tr></table>
                </div>
                
                <div class="section">
                    <h2>Top 10 Stocks Sorted by BP and Turnover Rate</h2>
                    <table>
<tr>
<th>Ticker</th>
<th>Close Price</th>
<th>Market Cap ($B)</th>
<th>Volume(M)</th>
<th>Turnover Rate (%)</th>
<th>RSI(6)</th>
<th>BP</th>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/MARA">MARA</a></td>
<td>19.64</td>
<td>5.59</td>
<td>46.37M</td>
<td>14.74</td>
<td>45.92</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/RIOT">RIOT</a></td>
<td>12.34</td>
<td>3.01</td>
<td>40.56M</td>
<td>13.17</td>
<td>59.33</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/HUT">HUT</a></td>
<td>24.16</td>
<td>1.43</td>
<td>5.31M</td>
<td>7.53</td>
<td>49.20</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/IREN">IREN</a></td>
<td>11.34</td>
<td>1.76</td>
<td>12.07M</td>
<td>6.90</td>
<td>43.30</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/SMCI">SMCI</a></td>
<td>33.33</td>
<td>26.92</td>
<td>34.01M</td>
<td>6.78</td>
<td>43.39</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/ARM">ARM</a></td>
<td>141.08</td>
<td>158.73</td>
<td>7.19M</td>
<td>5.70</td>
<td>67.76</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/AI">AI</a></td>
<td>36.78</td>
<td>3.20</td>
<td>4.86M</td>
<td>4.41</td>
<td>57.81</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/MP">MP</a></td>
<td>18.20</td>
<td>3.03</td>
<td>4.79M</td>
<td>3.98</td>
<td>70.05</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/CAR">CAR</a></td>
<td>81.76</td>
<td>2.84</td>
<td>0.60M</td>
<td>3.57</td>
<td>52.67</td>
<td>0.00</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/BE">BE</a></td>
<td>24.32</td>
<td>2.21</td>
<td>6.43M</td>
<td>3.27</td>
<td>49.88</td>
<td>0.00</td>
</tr></table>
                </div>
                
                <div class="section">
                    <h2>Top 10 Stocks with Lowest RSI (6)</h2>
                    <table>
<tr>
<th>Ticker</th>
<th>Close Price</th>
<th>Market Cap ($B)</th>
<th>Volume(M)</th>
<th>Turnover Rate (%)</th>
<th>RSI(6)</th>
<th>Value($M)</th>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/RCL">RCL</a></td>
<td>228.94</td>
<td>52.35</td>
<td>2.73</td>
<td>1.08</td>
<td>0.35</td>
<td>625.72</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/CVNA">CVNA</a></td>
<td>177.16</td>
<td>40.84</td>
<td>11.68</td>
<td>9.88</td>
<td>0.36</td>
<td>2068.43</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/DOX">DOX</a></td>
<td>84.17</td>
<td>10.52</td>
<td>0.47</td>
<td>0.42</td>
<td>0.37</td>
<td>39.86</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/MTH">MTH</a></td>
<td>75.72</td>
<td>6.68</td>
<td>2.01</td>
<td>5.68</td>
<td>0.48</td>
<td>152.52</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/CRVL">CRVL</a></td>
<td>110.72</td>
<td>5.22</td>
<td>0.09</td>
<td>1.02</td>
<td>0.65</td>
<td>10.50</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/CBLL">CBLL</a></td>
<td>24.29</td>
<td>0.90</td>
<td>0.18</td>
<td>0.67</td>
<td>0.73</td>
<td>4.36</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/CUK">CUK</a></td>
<td>22.00</td>
<td>26.30</td>
<td>1.44</td>
<td>0.12</td>
<td>0.79</td>
<td>31.73</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/KNSL">KNSL</a></td>
<td>428.32</td>
<td>10.68</td>
<td>0.38</td>
<td>1.71</td>
<td>1.01</td>
<td>161.13</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/XRX">XRX</a></td>
<td>8.27</td>
<td>1.29</td>
<td>2.62</td>
<td>2.28</td>
<td>1.02</td>
<td>21.70</td>
</tr>
<tr>
<td><a class="stock-link" href="http://127.0.0.1:8000/stock/BLND">BLND</a></td>
<td>3.80</td>
<td>0.88</td>
<td>4.03</td>
<td>1.82</td>
<td>1.39</td>
<td>15.31</td>
</tr>
</table>
                </div>
                
        </div>
    </body>
    </html>
    